CMakeLists.txt
.idea/Corpus.iml
cmake-build-debug/Corpus.cbp
cmake-build-debug/libCorpus.a
cmake-build-debug/CMakeFiles/Corpus.dir/build.make
cmake-build-debug/CMakeFiles/Corpus.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/Corpus.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/Corpus.dir/depend.make
cmake-build-debug/CMakeFiles/Corpus.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/Corpus.dir/flags.make
cmake-build-debug/CMakeFiles/Corpus.dir/link.txt
cmake-build-debug/CMakeFiles/Corpus.dir/progress.make
cmake-build-debug/CMakeFiles/Corpus.dir/CXX.includecache
cmake-build-debug/CMakeFiles/Corpus.dir/depend.internal
cmake-build-debug/CMakeFiles/Corpus.dir/FileDescription.cpp.o
cmake-build-debug/CMakeFiles/Corpus.dir/Paragraph.cpp.o
cmake-build-debug/CMakeFiles/Corpus.dir/Sentence.cpp.o
cmake-build-debug/CMakeFiles/Corpus.dir/TurkishChecker.cpp.o
