CMakeLists.txt
.idea/Corpus.iml
cmake-build-debug/Corpus.cbp
cmake-build-debug/libCorpus.a
cmake-build-debug/CMakeFiles/Corpus.dir/build.make
cmake-build-debug/CMakeFiles/Corpus.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/Corpus.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/Corpus.dir/depend.make
cmake-build-debug/CMakeFiles/Corpus.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/Corpus.dir/flags.make
cmake-build-debug/CMakeFiles/Corpus.dir/link.txt
cmake-build-debug/CMakeFiles/Corpus.dir/progress.make
cmake-build-debug/CMakeFiles/Corpus.dir/CXX.includecache
cmake-build-debug/CMakeFiles/Corpus.dir/depend.internal
cmake-build-debug/CMakeFiles/Corpus.dir/FileDescription.cpp.o
cmake-build-debug/CMakeFiles/Corpus.dir/Paragraph.cpp.o
cmake-build-debug/CMakeFiles/Corpus.dir/Sentence.cpp.o
cmake-build-debug/CMakeFiles/Corpus.dir/TurkishChecker.cpp.o
cmake-build-debug/TestCorpus
cmake-build-debug/CMakeFiles/TestCorpus.dir/build.make
cmake-build-debug/CMakeFiles/TestCorpus.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/TestCorpus.dir/Corpus.cpp.o
cmake-build-debug/CMakeFiles/TestCorpus.dir/CXX.includecache
cmake-build-debug/CMakeFiles/TestCorpus.dir/depend.internal
cmake-build-debug/CMakeFiles/TestCorpus.dir/depend.make
cmake-build-debug/CMakeFiles/TestCorpus.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/TestCorpus.dir/FileDescription.cpp.o
cmake-build-debug/CMakeFiles/TestCorpus.dir/flags.make
cmake-build-debug/CMakeFiles/TestCorpus.dir/link.txt
cmake-build-debug/CMakeFiles/TestCorpus.dir/Paragraph.cpp.o
cmake-build-debug/CMakeFiles/TestCorpus.dir/progress.make
cmake-build-debug/CMakeFiles/TestCorpus.dir/Sentence.cpp.o
cmake-build-debug/CMakeFiles/TestCorpus.dir/TestCorpus.cpp.o
cmake-build-debug/CMakeFiles/TestCorpus.dir/TurkishChecker.cpp.o
cmake-build-debug/CMakeFiles/3.12.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.12.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
